/* 

.contenedor {
  border: 1px solid;
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 0;
}


.logo {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.contenedor_image {
  width: 14rem;
  padding: 2rem;
}

.login {

  background-color: #42a5ff;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bienvenidos {
  width: 80%;
  font-size: large;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.campo {
  margin: 1rem ;
}

.campo input {
  width: 97%;
}

.button {
  display: flex;
  justify-content: center;
}
#link-enviar{
  text-decoration: none;
  color: black;
}

@media(min-width: 768px) {
  .contenedor {
    flex-direction: row;
  }


  form.formulario {
    margin: 2rem auto;
  }

  .bienvenidos {
    width: 80%;
    align-content: center;
    font-size: xx-large;
  }

  p.font {
    font-family: 'Montserrat';
    font-size: large;
  }
}

@media(min-width:992px) {
  .contenedor_image {
    width: 22rem;
    padding: 0rem;
  }
} */

.login {
  display: flex;
}

.login__form {
  padding: 4rem 6rem;
}

.login__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__title h4 {
  color: #064481;
}

.login__title p {
  text-align: center;
  color: #ABA196;
  padding: 2rem 0;
}

.login__right {
  background: #55AAFF;
  width: 70%;
  height: 100vh;

  img {
    position: absolute;
    right: 17%;
}

}

.login__right img {
  height: 100vh;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

input {
  border: 3px solid #0A59A8;
  border-radius: 5px;
  width: 100%;
  height: 2.3rem;
  text-align: center;
}

button {
  background: #55AAFF;
  border: 2px solid #0A59A8;
  width: 6rem;
  color: white;
  border-radius: 22px;
  height: 30px;
  margin: 0 auto;
}

.forgot__password {
  text-decoration: none;
  color: #064481;
  font-weight: 500;
  margin-bottom: 3rem;
}