<form
    action="" class="form form-product"
    [formGroup]="CreacionDeReferencias"
    (ngSubmit)="onSubmit()"
>

<div class="contenedor">
    <label for="" class="label label-products">Referencia</label>
    <input  (keydown)="getDataByQuery()" type="text" class="form-control" [formControl]="ref" >
</div>
<!-- <div class="contenedor">
    <label for="" class="label label-products">Referencia</label>
    <input  (keydown)="getDataByQuery()" type="text" class="form-control" formControlName="ref" >
</div> -->

<div class="contenedor">
    <label for="" class="label label-products">Sub partida arancelaria</label>
    <input type="text" class="form-control" formControlName="PosArancelId">
</div>

<div class="contenedor">
    <label for="" class="label label-products">Arancel</label>
    <input type="text" class="form-control" formControlName="PosArancelArancel" >
</div>

<div class="contenedor">
    <label for="" class="label label-products">IVA</label>
    <input type="text" class="form-control" formControlName="posArancelIva" >
</div>

<div class="titulo"><h3>Descripciones minimas</h3></div>


<div class="field">
    <label for="" class="label label-products">Producto</label>
    <input type="text" class="form-control" formControlName="producto" >
</div>
<div class="field">
    <label for="" class="label label-productsq">Marca</label>
    <input type="text" class="form-control" formControlName="marca" >
</div>
<div class="field">
    <label for="" class="label label-products">Modelo</label>
    <input type="text" class="form-control" formControlName="modelo" >
</div>

<div class="field">
    <label for="" class="label label-products">Referencia</label>
    <input type="text" class="form-control" formControlName="referencia" >
</div>

<div class="field">
    <label for="" class="label label-products">Serial</label>
    <input type="text" class="form-control" formControlName="serial" >
</div>


<div class="field">
    <label for="" class="label label-products">Uso o Destino</label>
    <input type="text" class="form-control" formControlName="uso" >
</div>


<div class="botom">
    <button type="submit" class="register" *ngIf="autorizaRegistro" [disabled]="CreacionDeReferencias.invalid" >Registrar</button>
    <button type="submit" class="register" *ngIf="autorizaActualizar" [disabled]="CreacionDeReferencias.invalid" >Actualizar</button>

</div>

</form>
