<header class="header">
    <div class="container container-sm container-md container-lg header-container">

        <div class="logo">
            <a routerLink="/">
              <img class="img-logo" src="assets/images/claaran-logo.png" alt="logo-claaran">
            </a>
        </div>
        <div class="menu">
          <nav class="menu">
            <input type="checkbox" id="menu-toggle" class="menu-toggle visually-hidden">
            <label for="menu-toggle" class="menu-icon">&#9776;</label>
            <ul class="menu-list">
              <li class="menu-item"><a routerLink="/about-us">Acerca de Nosotros</a></li>
              <li class="menu-item"><a routerLink="/our-services">Servicios</a></li>
              <li class="menu-item"><a routerLink="/credits">Créditos</a></li>
            </ul>
          </nav>
        </div>
    </div>
</header>
