<section class="section-about">
    <div class="content-about" id="about">
        <h2>Acerca de nosotros </h2>
        <p>No somos agencia de aduanas, tramitadores, agentes de carga, o fábrica de software, pero si somos un grupo de profesionales que pensamos en lo que no funciona en las operaciones de comercio internacional y por qué los procesos y necesidades no se pueden gestionar igual para todos, generando soluciones y acompañamiento a la medida de la necesidad.</p>
        <p> Procuramos la reducción de costos logísticos en operaciones de comercio internacional y cuidamos tu bolsillo de sanciones y sobrecostos en que puedas.</p> 
            

    </div>
    <div class="image-about">
        <img class="img-reunion" src="assets/images/reunion.webp" alt="">
    </div>
</section>
